@model IEnumerable<GestionImmobiliere.Models.Tenant>

@{
    ViewBag.Title = "Liste des locataires :";
}

<h4 class="text-decoration-underline">Liste des locataires :</h4>

<p>
    @Html.ActionLink("Ajouter un locataire", "Create", new { }, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table table-striped table-hover text-center" id="Tenant_Table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_name_tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_tenant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_tenant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_tenant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_name_tenant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_tenant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone_tenant)
                </td>
                <td>
                    @Html.ActionLink("Editer", "Edit", new { id = item.Id_tenant },new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Détails", "Details", new { id = item.Id_tenant },new { @class = "btn btn-sm btn-warning" })
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id_tenant },new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
   

   

</table>


@section scripts
{
    <script>
        $(document).ready(function () { $("#Tenant_Table").DataTable() })
    </script>
}

