@model GestionImmobiliere.Models.Parameters



<h4>Modifer paramètres :</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id_parameters)

    <div class="form-group">
        @Html.LabelFor(model => model.Agency_taxe, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.Agency_taxe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Agency_taxe, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group btn_pad">
        <div class="col-md-offset-2 col-md-10 ">
            <input type="submit" value="Sauvegarder" class="btn btn-success btn-sm my-2" />
        </div>
    </div>

</div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index", new { }, new { @class = "btn btn-sm btn-info" })
</div>
