@model GestionImmobiliere.Models.Rental_File

@{
    ViewBag.Title = "Edit2";
}

<h4 class="text-decoration-underline">Créer dossier de location :</h4>
@Html.ActionLink("Choisir Locataire dans la liste", "Index_Tenant/" + Model.Id_rental_file, "Rental_File", new { area = "" }, new { @class = "btn btn-sm my-2 btn-primary" })
@Html.ActionLink("Choisir Logement dans la liste", "Index_Logement/" + Model.Id_rental_file, "Rental_File", new { area = "" }, new { @class = "btn btn-sm my-2 btn-primary" })



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id_rental_file)

    <div class="form-group col-12">
        @Html.LabelFor(model => model.Id_rental_file, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.Id_rental_file, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Id_rental_file, "", new { @class = "text-danger" })
        </div>
        <hr />
    </div>

    <h5 class="text-decoration-underline">Locataire:</h5>
    <div class="form-group col-5">
        @Html.LabelFor(model => model.Name_tenant, htmlAttributes: new { @class = "control-label" })
        <div class="col-10">
            @Html.EditorFor(model => model.Name_tenant, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Name_tenant, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-5">
        @Html.LabelFor(model => model.First_name_tenant, htmlAttributes: new { @class = "control-label" })
        <div class="col-10">
            @Html.EditorFor(model => model.First_name_tenant, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.First_name_tenant, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-5">
        @Html.LabelFor(model => model.Email_tenant, htmlAttributes: new { @class = "control-label" })
        <div class="col-10">
            @Html.EditorFor(model => model.Email_tenant, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Email_tenant, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-5">
        @Html.LabelFor(model => model.Phone_tenant, htmlAttributes: new { @class = "control-label" })
        <div class="col-10">
            @Html.EditorFor(model => model.Phone_tenant, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Phone_tenant, "", new { @class = "text-danger" })
        </div>

    </div>
    <div><hr /></div>
    <h5 class="text-decoration-underline">Logement:</h5>
    <div class="form-group col-4">
        @Html.LabelFor(model => model.Adress_property, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.Adress_property, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Adress_property, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-4">
        @Html.LabelFor(model => model.Postal_code_property, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.Postal_code_property, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Postal_code_property, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-4">
        @Html.LabelFor(model => model.Town_property, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.Town_property, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Town_property, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-4">
        @Html.LabelFor(model => model.Rental_property, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Rental_property, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Rental_property, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-4">
        @Html.LabelFor(model => model.Charge_property, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Charge_property, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Charge_property, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-4">
        @Html.LabelFor(model => model.Deposit_property, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Deposit_property, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Deposit_property, "", new { @class = "text-danger" })
        </div>

    </div>

    <div><hr /></div>
    <div class="form-group">
        @Html.LabelFor(model => model.Date_of_rental, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">

            @Html.EditorFor(model => model.Date_of_rental, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
            @Html.ValidationMessageFor(model => model.Date_of_rental, "", new { @class = "text-danger" })
        </div>
    </div>









    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sauvegarder" class="btn btn-sm my-2 btn-success" />
        </div>
    </div>


</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-sm my-2 btn-info" })
</div>
