@model IEnumerable<GestionImmobiliere.Models.Rental_File>

@{
    ViewBag.Title = "Index";
}

<h4 class="text-decoration-underline">Dossier de location :</h4>

<p>
    @Html.ActionLink("Nouveau Dossier", "Create1", new { area = "" }, new { @class = "btn btn-sm btn-primary" })
  
</p>
<table class="table table-striped table-hover text-center" id="RentalFile_Table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_rental_file)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_name_tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress_property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postal_code_property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town_property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental_property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charge_property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit_property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_rental)
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-3">
                    <div>
                        @Html.DisplayFor(modelItem => item.Id_rental_file)
                    </div>
                    <div class="text-center">
                        @Html.ActionLink("Editer", "Edit2", new { id = item.Id_rental_file }, new { @class = "btn btn-sm btn-primary" })
                        @Html.ActionLink("Détails", "Details", new { id = item.Id_rental_file }, new { @class = "btn btn-sm my-1 btn-warning" })
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.Id_rental_file }, new { @class = "btn btn-sm btn-danger" })
                        <div>
                            @Html.ActionLink("Etat des lieux", "Bail", new { id = item.Id_rental_file }, new { @class = "btn btn-sm btn-info" })
                        </div>

                    </div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name_tenant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_name_tenant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_tenant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone_tenant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress_property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postal_code_property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Town_property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rental_property)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Charge_property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit_property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_of_rental)
                </td>

            </tr>



        }
    </tbody>
   
</table>


    @section scripts
{
        <script>
            $(document).ready(function () { $("#RentalFile_Table").DataTable() })
        </script>
    }
