@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="col-md-4 my-4 text-center">
            <a class="nav-link nav-link dropdown" href="@Url.Action("Index", "Owners")">
                <img src="~/Content/images/Proprietaire.JPG" height="100" width="100" alt="Propriétaires" />
                Propriétaires
            </a>
            <a  href="@Url.Action("Index", "Logements")">Notice</a>

        </div>
        <div class="col-md-3 my-4 text-center">
            <a class="nav-link nav-link dropdown" href="@Url.Action("Index", "Logements")">
                <img src="~/Content/images/Locations.JPG" height="100" width="100" alt="Logements" />
                Logements
            </a>
            <a href="@Url.Action("Index", "Logements")">Notice</a>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4 my-4 text-center">
            <a class="nav-link nav-link dropdown" href="@Url.Action("Index", "Tenants")">
                <img src="~/Content/images/Locataires.JPG" height="100" width="100" alt="Locataires" />
                Locataires
            </a>
            <a href="@Url.Action("Index", "Logements")">Notice</a>
        </div>
        <div class="col-md-3 my-4 text-center">
            <a class="nav-link nav-link dropdown" href="@Url.Action("Index", "Rental_File")">
                <img src="~/Content/images/Dossier.JPG" height="100" width="100" alt="Logements" />
                Dossiers
            </a>
            <a href="@Url.Action("Index", "Logements")">Notice</a>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4 my-4 text-center">
            <a class="nav-link nav-link dropdown" href="@Url.Action("Index", "Rental_Payment")">
                <img src="~/Content/images/Encaissements.JPG" height="100" width="100" alt="Encaissements" />
                Encaissements
            </a>
            <a href="@Url.Action("Index", "Logements")">Notice</a>
        </div>
        <div class="col-md-3 my-4 text-center">
            <a class="nav-link nav-link dropdown" href="@Url.Action("Index", "Parameters", new { id = 1 })">
                <img src="~/Content/images/Parametres.JPG" height="100" width="100" alt="Paramétres" />
                Paramétres
            </a>
            <a href="@Url.Action("Index", "Logements")">Notice</a>
        </div>
    </div>
</main>
